{% extends "../base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block meta_title %}{{ form.headline }}{% endblock meta_title %}

{% block title %}{{ form.headline }}{% endblock title %}

{% block content %}

     {% load crispy_forms_tags %}
     <form method="post" action="{{ form.form_action }}"
           class=""  enctype="multipart/form-data" novalidate>

        {% crispy form %}
        {% crispy formset formset.form.helper %}

        <input class="btn btn-primary" type="submit" value="{% trans 'Save' %}" name="save_button">
        <a href="{% url 'home' %}" class="btn btn-link">back to the list</a>
{#        <button class="btn btn-link" type="button"  name="cancel_button">{% trans 'Cancel' %}</button>#}


    </form>


{% endblock content %}