{% extends "../base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block meta_title %}{% trans 'Records' %}{% endblock meta_title %}

{% block title %}{% trans 'Records List' %}{% endblock title %}

{% block content %}
  <a href="{% url "record_add" %}" class="btn btn-primary">{% trans "Add Record" %}</a>

<table class="table">
  {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
  <thead>
    <tr>
      <th>#</th>
      <th>{% trans "History" %}</th>
      <th>{% trans "Date & Time" %}</th>
      <th>{% trans "Gender" %}</th>
      <th>{% trans "Weight" %}</th>
      <th>{% trans "Length" %}</th>
      <th>{% trans "path to file" %}</th>
    </tr>
  </thead>
  {% endwith %}
  <tbody>
    {% for record in records %}
    <tr>
      <td>
        {{ forloop.counter }}
      </td>
      <td><a href="{% url "record_edit" record.id %}" >{{ record.history_number }}</a></td>
      <td>{{ record.date_time }}</td>
      <td>{{ record.gender }}</td>
      <td>{{ record.weight }}</td>
      <td>{{ record.length }}</td>
      <td>{{ record.path_to_file }}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>
<!-- End Patient Listing -->


{% endblock content %}