{% extends "../base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block meta_title %}{% trans 'Patients' %}{% endblock meta_title %}

{% block title %}{% trans 'Patients List' %}{% endblock title %}

{% block content %}
  <a href="{% url "patient_add" %}" class="btn btn-primary">{% trans "Add Patient" %}</a>

<table class="table table-striped">
  <thead class="">
    <tr>
      <th>#</th>
      <th>{% trans "History" %}</th>
      <th>{% trans "Date & Time" %}</th>
      <th>{% trans "Gender" %}</th>
      <th>{% trans "Weight" %}</th>
      <th>{% trans "Length" %}</th>
      <th>{% trans "path to file" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for record in patients %}
    <tr>
      <td>
        {{ forloop.counter }}
      </td>
      <td><a href="{% url "patient_edit" record.id %}" >{{ record.history_number }}</a></td>
      <td>{{ record.date_time }}</td>
      <td>{% if record.gender %}{{ record.get_gender_display }}{% endif %}</td>
      <td>{{ record.weight }}</td>
      <td>{{ record.length }}</td>
      <td>{{ record.path_to_file }}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>
<!-- End Patient Listing -->


{% endblock content %}