{% extends "../base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block meta_title %}{% trans 'Patients' %}{% endblock meta_title %}

{% block title %}{% trans 'Patients List' %}{% endblock title %}

{% block content %}
  <a href="{% url "patient_add" %}" class="btn btn-primary">{% trans "Add Patient" %}</a>
{#  <a href="{% url "patient_add_1" %}" class="btn btn-primary">{% trans "Add Patient 1" %}</a>#}

<table class="table table-striped">
  <thead class="">
    <tr>
      <th>#</th>
      <th>{% trans "History" %}</th>
      <th>{% trans "Date & Time" %}</th>
      <th>{% trans "Gender" %}</th>
      <th>{% trans "Weight" %}</th>
      <th>{% trans "Length" %}</th>
      <th>{% trans "path to file" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for patient in patients %}
    <tr>
      <td>
        {{ forloop.counter }}
{#      <a href="{% url "patient_edit_1" patient.id %}" >{{ patient.id }}</a>#}
      </td>
      <td><a href="{% url "patient_edit" patient.id %}" >{{ patient.history_number }}</a></td>
      <td>{{ patient.date_time }}</td>
      <td>{% if patient.gender %}{{ patient.get_gender_display }}{% endif %}</td>
      <td>{{ patient.weight }}</td>
      <td>{{ patient.length }}</td>
      <td>
        {% for record in patient.records %}
          {{ record.path_to_file }}<br/>
        {% endfor %}

      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>
<!-- End Patient Listing -->


{% endblock content %}