{% load i18n %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="uk">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% trans "Hearttone" %} - {% block meta_title %}{% endblock meta_title %}</title>

    <meta name="description" value="{% trans "Hearttone" %}">

    <!-- Include Styles -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ PORTAL_URL }}{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{{ PORTAL_URL }}{% static 'css/main.css' %}">

    {% block extra_css %}{% endblock extra_css %}

  </head>
  <body>

    <!-- Start Header -->
    <header class="" id="header">

      <!-- Start navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light col-12">

        <!-- Start Container -->
        <div class="container-fluid">

          <!-- logo -->
          <a class="navbar-brand" href="#">HeartTone</a>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sub-header"
                  aria-controls="sub-header" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Items -->
          <div class="collapse navbar-collapse" id="sub-header">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">{% trans 'Home' %} <span class="sr-only">(current)</span></a>
              </li>
            </ul>

          </div>
        </div>
        <!-- End Nav Container -->
      </nav>

    </header>
    <!-- End Header -->


    <!-- Start Content Columns -->
    <div class="" id="content-columns">

      <!-- Start Content Container -->
      <div class="container">
        <div class="col-xs-12" id="content-column">
          {% block statusmessages %}
          <!-- Status Message -->
          {% if messages %}
           <ul class="messages">
              {% for message in messages %}
             <p {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</p>
              {% endfor %}
           </ul>
          {% endif %}

          {% endblock statusmessages %}

          <h2>{% block title %}{% endblock title %}</h2>
          {% block content %}


          {% endblock content %}

        </div>
          </div>
      </div>
      <!-- End Content Column -->

      <!-- Start Footer -->
      <footer class="bd-footer text-muted" id="footer" role="contentinfo">
            <hr/>
          <div class="row">
            <div class="copyright col-12">

              &copy; 2017&mdash;2017 <a href="#" rel="author"></a>.
            </div>
          </div>
        </div>
      </footer>

      <!-- End Footer -->


    <!-- Javascripts Section -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    {#    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>#}

    <script src="{% static 'js/main.js' %}"></script>
    {% block extra_js %}{% endblock extra_js %}

  </body>
</html>